* {
  --fg-color: black;
  --bg-color: lavenderblush;
  --roundness: 0.4rem;
}

body {
  background-color: var(--bg-color);
  /* NOTE: firefox has not implemented this yet */
  zoom: 1.5;
  padding: 2rem;
  margin: auto;
  width: 50%;
}

a:visited {
  color: maroon;
}

:is(h2, h3, h4, h5, h6) {
  display: table;
  padding: 0.4rem;
  background-color: lightpink;
  border-radius: var(--roundness);
}


a {
  color: green;
}

header {
  margin: 1rem;
}

.reset {
  color: var(--fg-color) !important;
  background-color: var(--bg-color) !important;
}


a.reset {
  text-decoration: none;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
